@import url(./normalize.css);
@import url(./reset.css);
@import url(./fontello.css);

/* 숨김 콘텐츠 */
.a11y-hidden,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* 기본 스타일 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

/* 본문 스타일 */
body {
  /* em, rem 단위를 사용해보기 */
  font-size: 1.4rem;
  color: #212121;
  background-color: #ccc;
  background-image: url(./images/bg_flower.png),
    linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%);
  background-repeat: no-repeat;
  background-position: 50% 0, 0 0;
  font-size: 1.4rem;
  font-weight: 500;

  /* bg 숏핸드 */
  /* background: url(./images/ani_flower_01.png) no-repeat 50% 0, #ccc  linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%) no-repeat top center; */
}

/* 레이아웃 */
.header,
.visual,
.main,
.slogan,
.footer-inner {
  width: 940px;
  margin: 0 auto;
}

/* 헤더 */
.header {
  background: #fff;
  padding: 0 30px;
  border-radius: 0 0 15px 15px;
  position: relative;
}

/* 로고 */
.logo {
  position: absolute;
  top: 45px;
  left: 60px;
  z-index: 10;
}

/* 텍스트 링크 모음 */
.member {
  text-align: right;
  padding: 4px 0;
  transform: translateX(10px);
}

.member li {
  display: inline-block;
}

.member a {
  padding: 6px 10px;
  display: inherit;
  text-transform: uppercase;
}

.divider {
  margin-right: 4px;
}

/* 메인 메뉴 */
.navigation {
  padding-bottom: 40px;
}

.menu {
  border-top: 2px solid currentColor;
  background: #e85e2c
    linear-gradient(
      to bottom,
      #ef9126 0%,
      #e85e2c 35%,
      #e85e2c 70%,
      #ef9126 100%
    );
  border-radius: 0 0 5px 5px;
  padding-left: 230px;
  height: 47px;
  position: relative;
}

.menu > li:nth-child(-n + 3) {
  position: relative;
}

.menu-item {
  float: left;
  border-left: 2px solid #fff;
}

/* 구체성 -> 10점 */
.menu-button {
  border: 0;
  background: transparent;
  padding: 0 23px;
  line-height: 45px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
}

/* 구체성 -> 20점 */
.is-active .menu-button {
  color: #ff0;
}

.is-active .menu-button::after {
  content: "";
  display: block;
  border-top: 2px solid #000;
}

.sub-menu {
  position: absolute;
  top: 48px;
  display: none;
  padding: 4px 0;
}

.menu-html,
.menu-css,
.menu-standards {
  left: 0;
}

.menu-accessibility,
.menu-qna,
.menu-archive {
  right: 0;
}

.is-active .sub-menu {
  display: block;
  white-space: nowrap;
}

.sub-menu li {
  display: inline-block;
  padding-left: 1em;
}

.sub-menu a {
  display: inline-block;
  padding: 6px 8px;
}

.sub-menu a::before {
  content: "\e805";
  font-family: "fontello";
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sub-menu a:hover {
  color: red;
}
.sub-menu a:hover::before {
  content: "\e801";
}

/* 비주얼 */

.visual {
  height: 120px;
  position: relative;
  z-index: ;
}

.visual-text {
  font-family: Georgia, "Times New Roman", Times, serif;
  animation-name: moveEffect;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  position: absolute;
  z-index: 1;
}

.visual::after,
.visual::before {
  /* 가상요소는 원래 인라인 속성임 */
  position: absolute;
  content: "";
  background: ;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  animation: fadeEffect infinite ease-in-out 4s alternate;
}

.visual::before {
  background: url(./images/ani_flower_01.png) no-repeat 5% 50%,
    url(./images/ani_flower_02.png) no-repeat 70% 50%;
}

.visual::after {
  background: url(./images/ani_flower_03.png) no-repeat 40% 50%,
    url(./images/ani_flower_04.png) no-repeat 90% 10%;
  animation-delay: -2s;
}

@keyframes moveEffect {
  0% {
    font-size: 12px;
    color: hsla(0, 0%, 0%, 0.2);
    /* 먼셀 색상환 참고 */
  }
  100% {
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    transform: translate(400px, 75px);
  }
}

@keyframes fadeEffect {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* 메인 */
.main {
  display: flex;
  background: #fff;
  padding: 30px 30px;
  border-radius: 15px 15px 0 0;
  justify-content: space-between;
}

.group1 {
  width: 250px;
}

/* 로그인 */
.login {
  background: #ed552f radial-gradient(circle at right top, #e8852e, #ed552f);
  box-shadow: 5px 5px 0 0 #aaa;
  padding: 10px;
  border-radius: 5px;
}

.login-title {
  color: #ff0;
  font-size: 1.5rem;
  font-weight: 700;
  text-indent: 10px;
}

.login-form {
  margin-top: 10px;
  border-radius: 5px 5px 0 0;
  padding: 10px 10px 0 10px;
}

.login-form,
.sign {
  background: #fff;
}

.login-form fieldset {
  position: relative;
  border-bottom: 1px solid #aaa;
  padding-bottom: 4px;
}

.login-form div {
  margin-bottom: 6px;
}

.login-form label {
  display: inline-block;
  width: 4em;
}

.login-form div {
  margin-bottom: 6px;
}

.login-form input {
  width: 90px;
  height: 22px;
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 2px 2px 2px 6px;
}

.login-form input:focus {
  outline: 1px solid #959595;
}

.login-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  padding: 0;
  font-size: 1.3rem;
  color: #fff;
  background: #ed552f;
  border-radius: 2px;
  border: 0;
}

.sign {
  border-radius: 0 0 5px 5px;
  padding: 4px 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: 1.2rem;
}

.sign a {
  padding: 4px 0;
}

.sign .icon-right-open {
  color: #e85e2c;
}

/* 그룹 1 유효성 검사 버튼 */
.validation-list {
  margin-top: 25px;
}

.validation-list li {
  margin-top: 10px;
}

.validation-list a {
  display: block;
  background: url(./images/validation_icon.png) no-repeat 20px 50%,
    linear-gradient(to bottom, #ccc, #eee);
  border: 1px solid #aaa;
  padding: 10px 10px 10px 40px;
  border-radius: 20px;
}

.validation-list a:hover,
.validation-list a:focus {
  color: #f00;
}

.term {
  background: #ccc linear-gradient(to bottom, #ccc, #eee);
  margin-top: 15px;
  padding: 15px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.term-title {
  font-weight: 700;
  font-size: 1.5rem;
}

.term-list {
  margin-top: 15px;
}

.term-list-subject {
  color: #296897;
  font-weight: 500;
}

.term-list > div {
  display: flow-root;
  margin-top: 10px;
}

.term-list-subject,
.term-list-brief {
  float: right;
  width: 145px;
}

.term-list-thumbnail {
  float: left;
}

.term-list-brief {
  margin-top: 5px;
  line-height: 1.5;
}

.cross .term-list-thumbnail {
  float: right;
}

.cross .term-list-subject,
.cross .term-list-brief {
  float: left;
}

/* 그룹2 */
.group2 {
  width: 380px;
}

.search-form {
}

.search-form-inner {
  background: #ccc linear-gradient(to bottom, #ccc, #eee);
  padding: 15px 25px 10px;
  border: 1px solid #aaa;
  border-radius: 15px 15px 0 0;
  display: flex;
  flex-flow: row nowrap;
}

.form-group {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.form-group-label {
  /* white-space: nowrap; */
  flex-shrink: 0;
  margin-right: 10px;
}

.form-group-input {
  flex-grow: 1;
  min-width: 0;
  /* 파폭 input 이슈 해결 방법 */
  width: 100%;
  height: 24px;
  padding: 1px 1px 1px 5px;
  border-radius: 3px;
  border: 1px solid #aaa;
}

.form-group-input:focus {
  outline: 1px solid #222;
}

.search-button {
  /* white-space: nowrap; */
  flex-shrink: 0;
  background-color: #000;
  color: #fff;
  height: 24px;
  border-radius: 3px;
  padding: 0 10px;
  font-size: 1.2rem;
}

/* 공지사항 및 자료실 */
.board {
  margin-top: 15px;
  position: relative;
}

.tab-list {
  display: flex;
  flex-flow: row nowrap;
}

.tab {
  background: #fff;
  padding: 5px 15px;
  border-radius: 5px 5px 0 0;
  border: 1px solid #aaa;
  background-color: #ccc;
  color: rgb(47, 47, 47);
  margin-bottom: 5px;
}

.tab.is-selected {
  background-color: #fff;
  border: 1px solid #ed552f;
  border-bottom: none;
  color: #ed552f;
}

.tab-panel {
  display: none;
}

.is-selected.tab-panel {
  display: block;
}

.board-list li {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.board-list li a {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.board-list li time {
  flex-shrink: 0;
  margin-left: 15px;
}

.btn-more {
  position: absolute;
  padding: 5px;
  top: -5px;
  right: -5px;
}

.btn-more::before {
  color: hsla(110, 50%, 30%, 1);
}

.news {
  position: relative;
  margin-top: 20px;
}

.news-title {
  position: relative;
  font-size: 1.5rem;
  font-weight: 700;
  color: #ed552f;
}

.news-title::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  bottom: 0;
  margin: 15px 0;
  background: #aaa linear-gradient(to right, #aaa, #fff);
}

.news-item {
  position: relative;
}

.news-item-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.news-item-thumbnail img {
  box-shadow: 0px 15px 10px 5px #eee;
  display: block;
}

.news-item-thumbnail figcaption {
  margin-top: 15px;
}

.news-item {
  padding-left: 130px;
}

.news-item-title {
  font-weight: 600;
  margin-bottom: 10px;
}

.news-item-date {
  display: block;
  margin-bottom: 10px;
}

.news-item-brief {
  line-height: 1.5;
}

/* 그룹3 */

h2 {
  font-weight: 700;
  font-size: 1.5rem;
}

.group3 {
  width: 190px;
}

.group3 h2 {
  margin-bottom: 10px;
}

.event {
  position: relative;
  border-bottom: 1px solid #aaa;
}

.event-button-wrapper {
  overflow: hidden;
  height: 18px;

  position: absolute;
  top: 0;
  right: 0;
}

.event-button {
  width: 19px;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
  text-indent: -10000px;
}

.event-button-prev {
  background: url("./images/back_forward.png");
  background-repeat: no-repeat;
}

.event-button-next {
  background: url("./images/back_forward.png");
  background-repeat: no-repeat;
  background-position: -36px 0;
}

.event-button .event-thumbnail,
.event-brief {
  margin: 10px 0;
}

.event-brief {
  line-height: 1.5;
}

.gradient-effect {
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px;
  background: #ccc linear-gradient(to bottom, #ccc, #eee);
}

.accent-color {
  color: #e85e2c;
}

.related {
  margin-top: 10px;
}

.related-list {
  background-color: #fff;
  height: 30px;
  border-radius: 5px;
  transition: 0.3s all ease-in;
  overflow: hidden;
  border: 1px solid #aaa;
}

.related-list:hover {
  height: 165px;
  padding: 10px 0;
}

.related-list a {
  display: block;
  line-height: 28px;
  text-indent: 25px;
}

.favorite-list li {
  list-style: none;
  margin: 10px 0 0px 20px;
}

.favorite-list li::before {
  content: (number);
}

/* 슬로건 */
.slogan {
  background: skyblue;
  /* height: 10vh; */
  font-size: 0;
}

/* 푸터 */
.footer {
  background: grey;
}
.footer-inner {
  background-color: silver;
  /* height: 15vh; */
}

.slogan div {
  height: 100px;
  width: 30%;
  display: inline-block;
  border: 2px solid #00ffcc;
}

.tmp1 {
  background-color: #296897;
}

.tmp2 {
  background-color: #aaa;
  margin: 0 5%;
}

.tmp3 {
  background-color: #ed552f;
}
