body {
  background: #ffc;
}

.header {
  background: pink;
}

.visual {
  background: orange;
}

.main {
  background: lightgreen;
}

.slogan {
  background: skyblue;
}

.footer {
  background: grey;
}
